<ion-header>
  <ion-toolbar>
    <ion-title>leer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngFor="let articulo of GestionNoticias.getNoticiasLeer()">
  <img alt="Silhouette of mountains" src= {{articulo.url}}/>
  <ion-card-header>
    <ion-card-title>{{articulo.title}}</ion-card-title>
    <ion-card-subtitle>{{articulo.description}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>