<ion-header>
  <ion-toolbar>
    <ion-title>noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list *ngFor="let articulo of GestionNoticias.getNoticias()">
    <ion-list-header>
      <ion-label>{{articulo.source.name}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label> {{articulo.title}}</ion-label>
    </ion-item>
    <ion-item button>
      <ion-button size="small" shape="round" expand="undefined"(click)="anadir(articulo)">Añadir</ion-button>
      <ion-button  size="small" shape="round" expand="undefined"(click)="borrar(articulo.source.name)">Borrar</ion-button>
    </ion-item>
  </ion-list> 
</ion-content>